<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{'/_assets/css/index.css' | url}}" />

    <style>
      body[dsd-pending] {
        display: none;
      }
    </style>
    <script>
      if (HTMLTemplateElement.prototype.hasOwnProperty("shadowRoot")) {
        // This browser has native declarative shadow DOM support, so we can
        // allow painting immediately.
        document.body.removeAttribute("dsd-pending");
      }
    </script>
  </head>

  <body dsd-pending>
    {{content | safe}}

    <script src="bootup.js"></script>
    <script src="{{'/_assets/js/index.js' | url}}"></script>
  </body>
</html>
